$card-color: #F8F8F8;
$background-color: #E9E9E9;
$background-color-transparent: #E9E9E900;

$weed-green: #4B9E09;
$warning-red: #D0342C;

$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;

@mixin desktop {
	@media (max-width: #{$desktop}) {
		@content;
	}
}
@mixin tablet {
	@media (max-width: #{$tablet}) {
		@content;
	}
}
@mixin mobile {
	@media (max-width: #{$mobile}) {
		@content;
	}
}